
.accordian{
    background-color:seagreen;
    color: white;
    font-weight: bold;
    margin: 5px 0px;
    padding: 10px;
    width: 30vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.accordian i{
    margin-right: auto;
}